body {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 100%;
	line-height: 1.5;
	color: #24252c;
}

header {
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid #d8d8d8;
	box-shadow: 0 0 10px 0 #d8d8d8;
}

.container {
	width: 960px;
	margin: 0 auto;
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
}

.logo {
	width: 410px;
}

p.description {
	width: 475px;
}

section {
	width: 960px;
	margin: 85px auto;
}

h1 {
	color: #ef9c46;
	font-family: 'Kanit', sans-serif;
	text-transform: lowercase;
	font-weight: 800;
	letter-spacing: 5px;
	font-size: 78px;
}

h3 {
	margin: 40px 0px 3px 0px;
	font-weight: 600;
	letter-spacing: 1px;
}

header .description {
	margin-top: 32px;
	font-size: 16px;
	color: #9e9e9e;
}

header p.tagline {
	font-family: 'Amaranth', sans-serif;
	font-style: italic;
	font-size: 30px;
	text-align: center;
	margin-top: -25px;
	text-transform: lowercase;
}

header ul {
	margin: 10px auto 20px auto;
	display: flex;
	justify-content: space-between;
	width: 375px;
}

header a {
	text-decoration: none;
	color: #24252c;
}

header a:hover {
	color: #ef9c46;
	border-bottom: 1px solid #ef9c46;
}

/* Menu Items */

.menu-container {
	display: flex;
	padding: 0 60px;
	justify-content: space-between;
}

.left-container,
.right-container {
	width: 375px;
}

h2 {
	font-size: 28px;
	font-family: 'Amaranth', sans-serif;
	font-style: italic;
	line-height: 0.1;
	margin: 0 auto;
	border-bottom: 2px solid #313c4e;
	text-align: center;
	letter-spacing: 3px;
}

h2 span {
	background-color: #fff;
	font-size: 28px;
	font-weight: bold;
	text-transform:	lowercase;
	padding: 0px 10px;
}

.menu-description {
	margin: 30px 0;
	padding: 0 20px;
	text-align: center;
}

h3:nth-child(1),
#margin-fix {
	margin-top: 0;
}

/* Specials */

.specials {
	background-color: #f8f8f8;
	margin: 45px auto;
	width: 95%;
	border-bottom: 1px solid #6d7583;
}

.specials h2 {
	font-size: 20px;
	border-top: 1px solid #6d7583;
	border-bottom: none;
	letter-spacing: 1px;
}

.specials h2 span {
	border: 1px solid #6d7583;
	padding: 2px 10px;
	border-radius: 3px;
	font-size: 20px;
}

.specials .menu-container {
	padding: 40px 36px;
}

.specials h3, .specials .menu-container .price {
	color: #e89329;
}

/* Drinks */

.drinks h3 {
	display: block;
	text-align: center;
	line-height: 2.5;
}

.drinks .menu-container p,
.drinks h4 {
	display: inline;
}

.drinks .menu-container p {
	float: right;
	color: #24252c;
	font-size: 16px;
	font-style: normal;
}

.drinks p.menu-description {
	margin-bottom: 22px;
}

/* Other */

.price, h3 {
	display: inline-flex;
}

.menu-container .price {
	float: right;
	margin-top: 40px;
	color: #24252c;
	font-style: normal;
	font-size: 16px;
}

.menu-container p {
	color: #9e9e9e;
	font-size: 13px;
	font-style: italic;
	font-weight: 400;
}